body.myhobbyexpo {
    background-image: url("../images/bg-image.svg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}



/*======one-page-parallax======*/
.home .home-content {
  margin-top: -320px;
}
